.login__bg {
    background-image: url("../assets/chatStormPic.png");
    height: 50vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}